<div class="root">
  <div class="container">
   <h2>Bentornato {{name}}! Esplora la sezione Gestione Annunci</h2> 
  </div>
  
  <div class="container">
    <h1>Crea un nuovo annuncio</h1>
    <p>
      Aggiungi un nuovo annuncio alla piattaforma specificando le informazioni
      nel form sottostante
    </p>

    <form class="form-container" [formGroup]="annForm" (ngSubmit)="save()">

      <mat-form-field class="form-field">
        <mat-label for="title">Titolo</mat-label>
        <input matInput id="title" type="text" formControlName="title" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Agenzia di Casting</mat-label>
        <input id="agency" type="text" formControlName="agency" matInput />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Tipologia</mat-label>
        <mat-select [(ngModel)]="selectedTeam" id="type" formControlName="type" class="form-select">
          <mat-option default class="form-option" value="Film">Film</mat-option>
          <mat-option class="form-option" value="Serie TV">Serie TV</mat-option>
          <mat-option class="form-option" value="Teatro">Teatro</mat-option>
          <mat-option class="form-option" value="Spot Pubblicitari">Spot Pubblicitari</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="form-field">
        <mat-label>Descrizione</mat-label>
        <textarea id="desc" type="text" formControlName="desc" matInput>
        </textarea>
      </mat-form-field>
      
      <mat-form-field class="form-field">
        <mat-label>Contatto</mat-label>
        <input matInput id="contact" formControlName="contact"/>
      </mat-form-field>

      <button type="submit" [disabled]="!annForm.valid">Crea Annuncio</button>
    </form>
  </div>

  <div class="container">
  <h1>Annunci pubblicati</h1>
  <li *ngFor="let ann of annunci">
    <app-annuncio [ann]="ann"></app-annuncio>
    <button class="remove-btn" (click)="deleteAnnuncio(ann)">Elimina</button>
  </li>
  </div>
</div>

