<div id="root">
  <div *ngIf="!loginDisplay">
    <h2>
      Effettua il Login o Iscriviti con il tuo account Microsoft per iniziare a
      candidarti!
      <mat-icon
        aria-hidden="false"
        aria-label="Accedi"
        fontIcon="account_circle"
        color="primary"
      ></mat-icon>
    </h2>
  </div>

  <div *ngIf="loginDisplay">
    <p>
        Login Eseguito corretamente! Controlla la tua sezione profilo
        <mat-icon
        aria-hidden="false"
        aria-label="Accedi"
        fontIcon="thumb_up_alt"
        color="primary"
      ></mat-icon>
    </p>
  </div>
  <h1 class="title">Tutti gli annunci</h1>
  <div class="list-container">
    
    <li *ngFor="let ann of annunci">
      <app-annuncio [ann]="ann"></app-annuncio>
    </li>
  </div>
</div>
