@use '@angular/material' as mat;

@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$accent: mat.m2-define-palette(mat.$m2-yellow-palette);
$warn:    mat.m2-define-palette(mat.$m2-red-palette);

$your-theme: mat.m2-define-light-theme((
 color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
 ),
));

@include mat.all-component-themes($your-theme);

// Styles for your navbar
.navbar {
 background-color: mat.m2-get-color-from-palette($primary, 500);
 height: 64px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 16px;
}

.example-spacer {
   flex: 1 1 auto;
 } 

.navbar a {
 color: mat.m2-get-color-from-palette($primary, default-contrast);
 text-decoration: none;
 margin: 0 12px;
}

.navbar a:hover {
 color: mat.m2-get-color-from-palette($primary, lighter);
}