<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Act4u</a>

  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/profile']" *ngIf="userType=='admin'||userType=='user'">Profilo</a>
      <a class="nav-item nav-link" [routerLink]="['/qna']" *ngIf="userType=='admin'">QnA</a>
      <!-- <a class="nav-item nav-link" [routerLink]="['/send-notification']" *ngIf="userType=='admin'">Invia notifica</a> -->
      <a class="nav-item nav-link" [routerLink]="['/view-applications']" *ngIf="userType=='admin'">Candidature</a>
      <a class="nav-item nav-link" [routerLink]="['/create-announcement']" *ngIf="userType=='admin'">Gestione Annunci</a>
      <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>
      <button mat-raised-button *ngIf="loginDisplay" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>