<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Act4u</a>

  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/qna']" *ngIf="userType=='user'">QnA</a>
      <a class="nav-item nav-link" [routerLink]="['/send-notification']" *ngIf="userType=='admin'">Invia notifica</a>
      <a class="nav-item nav-link" [routerLink]="['/view-applications']" *ngIf="userType=='admin'">Vedi candidature</a>
      <a class="nav-item nav-link" [routerLink]="['/create-announcement']" *ngIf="userType=='admin'">Crea annuncio</a>
      <button mat-button color="secondary" *ngIf="userType===undefined">
        Sign In
        <mat-icon aria-hidden="false" aria-label="user icon" fontIcon="login"></mat-icon>
      </button>
    </div>
  </div>
</nav>
