<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ann.title}}</mat-card-title>
    <mat-card-subtitle>{{ann.agency}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ann.desc}}
    </p>
    <mat-divider [inset]="true"></mat-divider>
    <p style="font-weight: bold;">
      {{ann.type}}
    </p>
    <p>
     Pubblicato il {{ann.data}} 
    </p>
    <p>
      Contattaci alla seguente: {{ann.contact}}
    </p>
  </mat-card-content>
  <mat-card-footer>
    <button (click)="openDialog()">Candidati!</button>
  </mat-card-footer>
</mat-card>