<div class="content">
  <h2 mat-dialog-title>Candidati all'annuncio</h2>
  <mat-dialog-content>
    <p>Aggiungi i file utili alla candidatura (video, foto, Curriculum)...</p>
    
    <span style="height: 50px;"></span>

    <input (change)="onFileSelected($event)" multiple="true" type="file" />

    <button (click)="uploadFile()">Carica</button>
   
    <mat-progress-bar
      mode="indeterminate"
      id="loadbar"
      *ngIf="uploadProgress"
    ></mat-progress-bar>
    
    <p id="correctUpload" *ngIf="uploaded">File caricati correttamente!</p>
  </mat-dialog-content>
</div>
